body {
  background: linear-gradient(180deg, #0b1d3a, #132f5e);
height: 100vh;

}






main{
  display:flex;
  justify-content: center;
 
}


aside{
  display: flex;
  justify-content: center;
  
  align-items: center; /* centraliza na altura */
  height: 70vh; /*centraliza na altura*/
}

.container {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #2e2e2e;
  padding-bottom: 15px;
}


.piscar {
  width: 35px;
  height: 35px;
  margin: 20px;
  border-radius: 50% 10% 50% 50%;
  rotate:-45deg;
}
.piscar_out {
  width: 35px;
  height: 35px;
  margin: 20px;
  border-radius: 50% 10% 50% 50%;
  rotate:-45deg;
}



.ball1{
  background: blue;
  box-shadow: 0px 0px 20px blue;
  
}
.ball2{
  background: rgb(153, 247, 3);
  box-shadow: 0px 0px 20px rgb(123, 255, 0);
  
}

.ball3{
  background: rgb(247, 52, 3);
  box-shadow: 0px 0px 20px rgb(255, 60, 0);
  
}

.ball4{
  background: rgb(3, 239, 247);
  box-shadow: 0px 0px 20px rgb(0, 238, 255);
  
}

.ball5{
  background: rgb(247, 3, 247);
  box-shadow: 0px 0px 20px rgb(255, 0, 242);
  
}

.ball6{
  background: rgb(248, 232, 2);
  box-shadow: 0px 0px 20px rgb(238, 255, 0);
 
  
}

.ball7{
  background: rgb(247, 3, 125);
  box-shadow: 0px 0px 20px rgb(255, 0, 170);
  
}

.ball8{
  background: rgb(3, 247, 166);
  box-shadow: 0px 0px 20px rgb(0, 255, 128);
  
}

.ball9{
  background: rgb(153, 247, 3);
  box-shadow: 0px 0px 20px rgb(123, 255, 0);
  
}

.ball10{
  background: rgb(3, 117, 247);
  box-shadow: 0px 0px 20px rgb(0, 162, 255);
  
}
.ball11{
  background: rgb(247, 162, 3);
  box-shadow: 0px 0px 20px rgb(255, 166, 0);
  
}
.desligado{
  background: rgb(197, 8, 245);
   width: 25px;
  height: 25px;
  margin: 20px;
  border-radius: 50% 10% 50% 50%;
  rotate:-45deg;
   box-shadow: 0px 0px 1px rgb(197, 8, 245);
}
/* animação de piscar */

.piscar {
  animation: infinite  ease-out 2s piscar ;
}
.piscar_out {
  animation: infinite ease-in-out 3s piscar_out;
}

@keyframes piscar {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes piscar_out {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}



.natalFont {
  font-family: 'Mountains of Christmas', cursive;
  
}


h1{
  font-size: 60px;
  text-align: center;
  color: aliceblue;
 text-shadow: 0px 0px 30px aliceblue;
}
label{
  color: aliceblue;
  margin: 13px;
  font-size: 20px;

}


.btn-primary{
 margin: 10px;
 border-radius: 100%;
 background: black;
 border:2px solid rgb(197, 8, 245);
}

.btn-primary:hover{
  background: #0b1d3a;
}